In [1]:
import pandas
import numpy

In [2]:
df = pandas.read_csv("Video_Games.csv")

In [35]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E

In [4]:
df.drop("index", axis=1, inplace=True)

In [34]:
df.isna().sum()

Name               0
Platform           0
Year_of_Release    0
Genre              0
Publisher          0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score       0
Critic_Count       0
User_Score         0
User_Count         0
Developer          0
Rating             0
dtype: int64

In [32]:
# Sadece sayısal sütunları seçme
numeric_columns = df.select_dtypes(include='number').columns

# Sayısal sütunları ortalama değer ile doldurma
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())
# ÖNEMLİİİİ

In [33]:
df.dropna(inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10015 entries, 0 to 16926
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             10015 non-null  object
 1   Platform         10015 non-null  object
 2   Year_of_Release  10015 non-null  int32
 3   Genre            10015 non-null  object
 4   Publisher        10015 non-null  object
 5   NA_Sales         10015 non-null  int32
 6   EU_Sales         10015 non-null  int32
 7   JP_Sales         10015 non-null  int32
 8   Other_Sales      10015 non-null  int32
 9   Global_Sales     10015 non-null  int32
 10  Critic_Score     10015 non-null  int32
 11  Critic_Count     10015 non-null  int32
 12  User_Score       10015 non-null  object
 13  User_Count       10015 non-null  int32
 14  Developer        10015 non-null  object
 15  Rating           10015 non-null  object
dtypes: int32(9), object(7)
memory usage: 978.0+ KB

In [37]:
degiscek_sutunlar = ["User_Count","Critic_Count","Critic_Score","Global_Sales","Other_Sales","JP_Sales","EU_Sales","NA_Sales","Year_of_Release"]

In [38]:
df[degiscek_sutunlar] = df[degiscek_sutunlar].astype("int32")

In [40]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41,28,3,8,82,76,51,8,322,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15,12,3,3,35,82,73,8.3,709,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15,10,3,2,32,80,73,8,192,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,11,9,6,2,29,89,65,8.5,431,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,13,9,2,2,28,58,41,6.6,129,Nintendo,E

In [42]:
df[df["Year_of_Release"] == 2006].head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41,28,3,8,82,76,51,8,322,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,11,9,6,2,29,89,65,8.5,431,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,13,9,2,2,28,58,41,6.6,129,Nintendo,E
107,The Legend of Zelda: Twilight Princess,Wii,2006,Action,Nintendo,3,2,0,0,7,95,73,9,1658,Nintendo,T
142,Gears of War,X360,2006,Shooter,Microsoft Game Studios,3,1,0,0,6,94,88,8.3,2295,Epic Games,M

In [43]:
df.to_csv("Video_Games_Edited.csv")